---
import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { motion } from 'framer-motion';
import Container from '@/components/Container.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import NoteItem from '@/components/NoteItem.astro';
import { social } from '@/lib/constants';

const entry = await getEntry('pages', 'notes');
const publishedNotes = (await getCollection('notes', ({ data }: CollectionEntry<'notes'>) => data.draft !== true))
  .sort((a: any, b: any) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const talks = (await Astro.glob('../../content/talks/*.json'))
  .sort((a: any, b: any) => a.position - b.position);

const links = (await Astro.glob('../../content/links/*.json'))
  .sort((a: any, b: any) => a.position - b.position);
---
<BaseLayout>
  <section>
    <Container>
      <div class="relative flex flex-col gap-2 pt-12 pb-12">
        <motion.h1
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20 }}
          className="font-bold text-3xl md:text-4xl">{entry.data.title}</motion.h1>
        <motion.p
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.05 }}
          className="font-medium text-gray-600 md:text-lg">{entry.data.description}</motion.p>
        <motion.span
          client:load
          initial={{opacity:0,y:-20}}
          animate={{opacity:0.05,y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.1 }}
          className="absolute left-0 -ml-16 mt-9 top-0 mb-0 hidden font-mono text-[18rem] text-accent-600 leading-none opacity-5 lg:flex pointer-events-none select-none">*</motion.span>
        <motion.div
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.1 }}
          className="flex items-center gap-2 mt-5">
          <a href={social.x} target="_blank" rel="noreferrer" class="ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 hover:text-accent-900 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
            Sígueme en X
          </a>
          <a href={social.linkedin} target="_blank" rel="noreferrer" class="ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 hover:text-accent-900 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
            Sígueme en LinkedIn
          </a>
        </motion.div>
      </div>
    </Container>
  </section>
  <section>
    <Container>
      <motion.div
        client:load
        initial={{opacity:0, y:-20}}
        animate={{opacity:1, y:0}}
        transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.15 }}
        className="relative flex flex-col gap-2 z-10 -mx-2 mb-2">
        {publishedNotes.map((note: any) => <NoteItem entry={note} />)}
      </motion.div>
    </Container>
  </section>
  <section>
    <Container>
      <motion.div
        client:load
        initial={{opacity:0, y:-20}}
        animate={{opacity:1, y:0}}
        transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.2 }}
        className="py-10 flex flex-col gap-3"
      >
        <h2 class="font-semibold text-xl">Talks</h2>
        <div class="flex flex-col gap-1 -mx-2">
          {talks.map((talk) => (
            <a href={talk.url} target="_blank" rel="noreferrer" class="py-2 hover:bg-accent-50 group hover:ring-4 hover:ring-accent-50 px-2 rounded-xl transition">
              <article class="flex items-center gap-3">
                <span class="hidden md:block text-tones-700 text-sm tabular-nums">
                  {talk.date}
                </span>
                <h4 class="font-semibold underline underline-offset-2 decoration-accent-200 group-hover:decoration-accent-500 transition-all">{talk.title}</h4>
              </article>
            </a>
          ))}
        </div>
      </motion.div>
    </Container>
  </section>
  <section>
    <Container>
      <motion.div
        client:load
        initial={{opacity:0, y:-20}}
        animate={{opacity:1, y:0}}
        transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.2 }}
        className="pb-10 flex flex-col gap-3"
      >
        <h2 class="font-semibold text-xl">Otros</h2>
        <div class="flex flex-col gap-1 -mx-2">
          {links.map((link) => (
            <a href={link.url} target="_blank" rel="noreferrer" class="py-2 hover:bg-accent-50 group hover:ring-4 hover:ring-accent-50 px-2 rounded-xl transition">
              <article class="flex items-center gap-3">
                <span class="hidden md:block text-tones-700 text-xs uppercase">
                  {link.source}
                </span>
                <h4 class="font-semibold underline underline-offset-2 decoration-accent-200 group-hover:decoration-accent-500 transition-all">{link.title}</h4>
              </article>
            </a>
          ))}
        </div>
      </motion.div>
    </Container>
  </section>
</BaseLayout>