---
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import {motion} from 'framer-motion';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import Ship from '@/components/badges/Ship.astro';
import { Mobile } from '@/components/badges/Mobile.tsx';
import { Terminal } from '@/components/badges/Terminal.tsx';
import ProfileAvatar from '@/assets/images/profile.jpg';
import SectionWork from '@/components/SectionWork.astro';
import NoteItem from '@/components/NoteItem.astro';

const publishedNotes = (await getCollection('notes', ({ data }: CollectionEntry<'notes'>) => data.draft !== true))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const publishedWork = (await getCollection('work', ({ data }: CollectionEntry<'work'>) => data.draft !== true))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const latestPosts = publishedNotes.slice(0, 5);
const latestWork = publishedWork.slice(0, 4);
---
<BaseLayout>
  <section class="border-b border-gray-200">
    <Container>
      <div class="pt-12 pb-16">
        <div class="flex flex-col items-start gap-8">
          <div class="relative flex items-start flex-col gap-3 w-[44rem]">
            <motion.h1
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring'}}
              className="text-[2.75rem] leading-[0.9] font-bold"
            >
              Building people-first interfaces, websites, <div class="inline-flex items-baseline">mobile apps<span class="relative top-2.5 ml-2 text-lime-700 rounded-2xl bg-white shadow-xl px-1 py-1"><Mobile client:load size={40} /></span></div> and <div class="inline-flex items-baseline">systems<span class="relative top-2.5 ml-2 text-black rounded-2xl bg-white shadow-xl px-1 py-1"><Terminal client:load size={40} /></span></div> for the <span class="before:animate-glitch relative before:left-[3px] before:absolute before:top-0 before:w-full before:h-full before:overflow-hidden before:[text-shadow:-2px_0_red] before:[content:'web']">web</span>.
            </motion.h1>
            <motion.p
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', delay: 0.2}}
              className="text-gray-600 text-lg font-medium"
            >
              I'm the person who can build products between engineering and design with a big attention to detail against the competitors. Currently founding my own engineering studio from Mexico.
            </motion.p>
            <motion.span
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:0.05,y:0}}
              transition={{ type: 'spring', delay: 0.3}}
              className="absolute left-0 -ml-16 mt-9 top-0 mb-0 hidden font-mono text-[18rem] text-gray-600 leading-none opacity-5 lg:flex">*</motion.span>
          </div>
          <motion.div
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', delay: 0.5}}
            className="flex items-center gap-5">
            <button class="relative px-4 py-2.5 rounded-2xl text-white bg-black shadow-lg shadow-[#F84F1A]/35 ring-2 ring-[#F84F1A]/20 hover:shadow-xl hover:shadow-[#F84F1A]/60 hover:ring-[#F84F1A]/30 font-semibold transition hover:scale-105 z-10">
              Book a 30 min call
            </button>
            <div class="text-sm text-gray-500 font-medium">Use <span class="mx-0.5 px-1.5 py-1 border border-gray-300 rounded-lg">⌘K</span> for a best experience</div>
          </motion.div>
        </div>
      </div>
    </Container>
  </section>
  <SectionWork entry={latestWork[0]} />
  <SectionWork entry={latestWork[1]} />
  <section class="border-b border-gray-200">
    <Container class="px-0">
      <div class="pt-16 pb-20 flex gap-4">
        <div class="flex flex-col gap-6 px-10 flex-grow text-gray-900">
          <div class="relative flex flex-col gap-4">
            <h3 class="text-4xl font-bold">Your product needs the best experience.</h3>
            <p class="text-xl font-medium text-gray-500 max-w-[40rem]">
              Let's bring your idea from <span class="font-bold text-black">0 → 1</span> and do it. I can help you with a variety of services to get your project off the ground and into the hands of your users.
            </p>
            <span class="absolute left-0 -ml-10 -mt-6 top-0 mb-0 hidden font-mono text-[12rem] text-gray-600 leading-none opacity-5 lg:flex -z-10">*</span>
          </div>
          <div class="flex items-center gap-3 flex-wrap z-10 mb-6">
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Frontend Development
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              CMS
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Backend Development
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              APIs
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Web Design
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Landing Pages
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Corporate websites
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              UI Design
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Mobile Apps
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              E-commerce
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Design Systems
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Training
            </span>
          </div>
          <div class="flex items-center gap-4">
            <a href="#" class="relative px-4 py-3 rounded-2xl text-white bg-black text-lg shadow-lg shadow-[#F84F1A]/35 ring-2 ring-[#F84F1A]/20 hover:shadow-xl hover:shadow-[#F84F1A]/60 hover:ring-[#F84F1A]/30 font-semibold transition hover:scale-105 z-10 max-w-max">
              Start from $599/week
            </a>
            <a href="#" class="px-4 py-3 w-max rounded-2xl text-black ring-2 ring-gray-100 font-semibold transition bg-gray-100 hover:bg-orange-200 hover:ring-orange-200 text-lg">
              Read manifesto
            </a>
          </div>
        </div>
      </div>
    </Container>
  </section>
  <SectionWork entry={latestWork[2]} />
  <SectionWork entry={latestWork[3]} />
  <section class="border-b border-gray-200">
    <Container class="px-0">
      <div class="py-16 flex gap-4">
        <div class="flex flex-col gap-4 w-[60rem] px-10 flex-grow">
          <h3 class="text-2xl font-bold">Hey!, I'm Javier Diaz</h3>
          <div class="relative flex flex-col gap-1.5 font-medium text-gray-600">
            <p>
              A Mexican freelancer working with various startups, companies, agencies and individuals to build products and services for the web.
            </p>
            <p>
              I love collaborate with people and teams to create fantastical experiences and products that are easy to use.
            </p>
            <p>
              In my free time, you'll usually find me reading, watching movies, playing video games, or learning something new.
            </p>
            <span class="absolute left-0 -ml-10 mt-4 top-0 mb-0 hidden font-mono text-[12rem] text-gray-600 leading-none opacity-5 lg:flex">*</span>
          </div>
          <div class="flex items-center gap-4">
            <a href="#" class="mt-2 px-4 py-2.5 w-max rounded-2xl text-white bg-black shadow-lg shadow-blue-900/60 ring-2 ring-blue-400/20 hover:shadow-xl hover:shadow-blue-700/50 hover:ring-blue-400/30 font-semibold transition hover:scale-105">
              Start a project
            </a>
            <a href="#" class="mt-2 px-4 py-2 w-max rounded-2xl text-black ring-2 ring-gray-100 font-semibold transition bg-gray-100 hover:bg-orange-200 hover:ring-orange-200">
              Discover my services
            </a>
          </div>
        </div>
        <div class="w-[28rem] h-80 overflow-hidden shadow-xl bg-white p-3 pb-9 rotate-[4deg] border border-gray-100">
          <Image class="h-full w-full object-cover object-top pointer-events-none select-none" src={ProfileAvatar} alt="Avatar of Javier Diaz" />
        </div>
      </div>
    </Container>
  </section>
  <section class="border-b border-gray-200">
    <Container>
      <div class="py-6 flex items-center gap-4">
        <span class="font-semibold text-gray-1100">Let's connect</span>
        <div class="flex items-center gap-2">
          <a href="#" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            X.com
          </a>
          <a href="#" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            GitHub
          </a>
          <a href="#" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            LinkedIn
          </a>
          <a href="#" class="px-4 py-2.5 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium">
            Youtube
          </a>
          <a href="#" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            Dribbble
          </a>
          <a href="#" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            Email
          </a>
        </div>
      </div>
    </Container>
  </section>
  <section>
    <Container class="px-0">
      <div class="pt-16 pb-20 flex gap-4">
        <div class="flex flex-col gap-4 w-[60rem] px-10 flex-grow">
          <div class="flex items-center gap-2">
            <span class="bg-orange-800 p-1 rounded-lg">
              <Ship />
            </span>
            <h3 class="text-2xl font-bold">My travel life</h3>
          </div>
          <div class="relative flex flex-col gap-1.5 font-medium text-gray-600 mb-3">
            <p>
              Sometimes I write about my experiences, thoughts, and things I've learned. I'm not a writer, but I try to share my knowledge with others.
            </p>
            <span class="absolute left-0 -ml-10 -mt-16 top-0 mb-0 hidden font-mono text-[12rem] text-gray-600 leading-none opacity-5 lg:flex">*</span>
          </div>
          <div class="relative flex flex-col gap-2 z-10 -mx-2 mb-2">
            {latestPosts.map((note) => <NoteItem entry={note} />)}
          </div>
          <div class="flex items-center gap-2">
            <a href="/notes" class="bg-gray-100 text-gray-600 hover:text-gray-900 hover:bg-orange-200/75 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Show all posts
            </a>
            <a href="#" class="bg-gray-100 text-gray-600 hover:text-gray-900 hover:bg-orange-200/75 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Follow me on X.com
            </a>
            <a href="#" class="bg-gray-100 text-gray-600 hover:text-gray-900 hover:bg-orange-200/75 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Follow on LinkedIn
            </a>
          </div>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>