---
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import {motion} from 'framer-motion';
import { social } from '@/lib/constants.ts';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import Ship from '@/components/svg/Ship.astro';
import ProfileAvatar from '@/assets/images/profile.jpg';
import SectionWork from '@/components/SectionWork.astro';
import NoteItem from '@/components/NoteItem.astro';
import { includeDraft } from '@/lib/utils';
import { ArrowRightIcon } from 'lucide-react';
import { getEntry } from 'astro:content';

const publishedNotes = (await getCollection('notes', ({ data }: CollectionEntry<'notes'>) => includeDraft(data.draft)))
  .sort((a: any, b: any) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const latestPosts = publishedNotes.slice(0, 5);
const ariaWebsite = await getEntry('work', 'academia-de-baile-aria')
const ariaApp = await getEntry('work', 'software-para-academia-de-baile')
const pandaSaludDashboard = await getEntry('work', 'panda-salud')
---
<BaseLayout>
  <section class="border-b border-gray-200">
    <Container>
      <div class="pt-8 pb-12 md:pt-16 md:pb-16">
        <div class="flex flex-col items-start gap-6">
          <div class="relative flex items-start flex-col gap-3 md:gap-4 w-full md:w-[44rem]">
            <motion.h1
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20 }}
              className="text-[1.85rem] leading-[1] md:text-[3rem] font-bold md:leading-[1.0] font-extra relative z-10 md:mr-0"
            >
              Convierto <span class="relative before:content-[''] before:absolute before:bottom-2 before:w-full before:h-1.5 before:bg-accent-400 before:-z-[1]">tus ideas</span> en productos atractivos y amigables para todos
            </motion.h1>
            <motion.p
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.05 }}
              className="text-tones-1000 md:text-lg md:leading-7 md:mr-44"
            >
              Te ayudo a optimizar la experiencia de tus productos actuales, a renovar tu sitio web o mejorar su rendimiento, y hacer que tu nueva idea se vuelva realidad.
            </motion.p>
            <motion.div
              client:load
              initial={{opacity:0, y: -20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.1 }}
            >
              <a href="/contacto/" class="mt-2 pl-6 pr-5 py-3.5 text-center md:text-left md:w-max rounded-full bg-black text-white font-semibold shadow-sm hover:shadow-lg transition-all inline-flex gap-3 hover:scale-105">
                Comenzar un proyecto
                <ArrowRightIcon />
              </a>
            </motion.div>
            <motion.span
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:0.05,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.1 }}
              className="absolute left-0 -ml-16 mt-9 top-0 mb-0 hidden font-mono text-[18rem] text-accent-600 leading-none opacity-5 lg:flex pointer-events-none select-none">*</motion.span>
          </div>
        </div>
      </div>
    </Container>
  </section>
  <SectionWork entry={ariaApp} />
  <SectionWork entry={ariaWebsite} />
  <motion.section
    className="border-b border-gray-200"
    client:load
    initial={{opacity:0,y:-20}}
    animate={{opacity:1,y:0}}
    transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.2 }}
  >
    <Container class="md:px-0">
      <div class="pt-16 pb-20 flex gap-4">
        <div class="flex flex-col gap-6 md:px-10 flex-grow text-tones-1100">
          <div class="relative flex flex-col gap-4">
            <motion.h2
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.3 }}
              className="text-3xl md:text-4xl font-bold">Tu producto necesita de la mejor experiencia.</motion.h2>
            <motion.p
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.35 }}
              className="text-lg font-medium text-tones-900 max-w-[40rem]">
              Llevemos tu idea de <span class="font-bold text-tones-1500">0 → 1</span> y hagámosla realidad. Puedo ayudarte con una variedad de servicios para que tu proyecto despegue y llegue a manos de tus usuarios.
            </motion.p>
            <motion.span
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:0.05,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.4 }}
              className="absolute left-0 -ml-10 -mt-6 top-0 mb-0 hidden font-mono text-[12rem] text-tones-1000 leading-none opacity-5 lg:flex -z-10">*</motion.span>
          </div>
          <motion.div
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.45 }}
            className="flex items-center gap-3 flex-wrap z-10 mb-6">
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Desarrollo Front-end
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              CMS
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Desarrollo Back-end
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              APIs
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Diseño Web
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Landing Pages
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Sitios Web Corporativos
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Diseño de Interfaces
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Aplicaciones Móviles
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              E-commerce
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Sistemas de diseño
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white backdrop-blur-lg border border-tones-100 rounded-full font-semibold text-sm">
              Entrenamiento
            </span>
          </motion.div>
          <motion.div
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.5 }}
            className="flex flex-col md:flex-row md:items-center gap-3">
            <a href="/contacto/" class="relative px-6 py-3 rounded-full bg-accent-400 text-accent-1000 text-center md:text-left font-semibold transition hover:bg-accent-400/75 z-10 md:w-max">
              Solicita una cotización
            </a>
            <a href="/proyectos/" class="px-6 py-3 md:w-max rounded-full text-black font-semibold transition bg-tones-100/50 hover:bg-accent-100 text-center md:text-left">
              Conoce mi trabajo
            </a>
          </motion.div>
        </div>
      </div>
    </Container>
  </motion.section>
  <SectionWork entry={pandaSaludDashboard} />
  <section class="border-b border-gray-200">
    <Container class="md:px-0">
      <div class="py-16 flex flex-col-reverse md:flex-row gap-12  md:gap-4 items-center">
        <div class="flex flex-col gap-4 md:w-[60rem] md:px-10 flex-grow">
          <h3 class="text-2xl font-bold">Hola!, Soy Javier Diaz</h3>
          <div class="relative flex flex-col gap-1.5 font-medium text-tones-900">
            <p>
              Soy un freelancer multidiciplinario que ha trabajado con diferentes startups, empresas, agencias y particulares para construir productos y servicios en la web.
            </p>
            <p>
              He colaborado con personas y equipos multidiplinarios para crear experiencias y productos fantásticos que sean fáciles de usar y sin fricciones.
            </p>
            <p>
              En mi tiempo libre, usualmente podrás encontrarme leyendo, viendo películas, dando clases de programación, jugando videojuegos o aprendiendo algo nuevo.
            </p>
            <span class="absolute left-0 -ml-10 mt-4 top-0 mb-0 hidden font-mono text-[12rem] text-tones-600 leading-none opacity-5 lg:flex">*</span>
          </div>
          <div class="flex flex-col md:flex-row md:items-center gap-2 md:gap-3">
            <a href="/contacto/" class="mt-2 px-6 py-3 text-center md:text-left md:w-max rounded-full bg-accent-400 text-accent-1000 font-semibold transition hover:bg-accent-400/75">
              Comenzar un proyecto
            </a>
            <a href="/servicios/" class="mt-2 px-6 py-3 text-center md:text-left md:w-max rounded-full text-black bg-tones-100/50 font-semibold transition hover:bg-accent-100">
              Descubre mis servicios
            </a>
          </div>
        </div>
        <div class="w-[16rem] md:w-[28rem] h-80 overflow-hidden shadow-xl bg-white p-3 pb-9 rotate-[4deg] border border-gray-100">
          <Image class="h-full w-full object-cover object-top pointer-events-none select-none" src={ProfileAvatar} alt="Avatar of Javier Diaz" />
        </div>
      </div>
    </Container>
  </section>
  <section class="border-b border-gray-200">
    <Container>
      <div class="py-8 md:py-6 flex flex-col md:flex-row md:items-center gap-4">
        <span class="font-semibold text-tones-1100">Conecta conmigo</span>
        <div class="flex items-center flex-wrap gap-2">
          <a href={social.x} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 text-sm hover:text-accent-900 font-semibold transition">
            X.com
          </a>
          <a href={social.github} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 text-sm hover:text-accent-900 font-semibold transition">
            GitHub
          </a>
          <a href={social.linkedin} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 text-sm hover:text-accent-900 font-semibold transition">
            LinkedIn
          </a>
          <a href={social.youtube} target="_blank" rel="noreferrer" class="px-4 py-2.5 rounded-xl ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 text-sm hover:text-accent-900 font-semibold">
            Youtube
          </a>
          <a href={social.dribbble} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 text-sm hover:text-accent-900 font-semibold transition">
            Dribbble
          </a>
          <a href={social.email} class="px-4 py-2 rounded-xl ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 text-sm hover:text-accent-900 font-semibold transition">
            Email
          </a>
        </div>
      </div>
    </Container>
  </section>
  <section>
    <Container class="md:px-0">
      <div class="pt-16 pb-20 flex gap-4">
        <div class="flex flex-col gap-4 w-[60rem] md:px-10 flex-grow">
          <div class="flex items-center gap-3">
            <span class="bg-accent-400 p-1 rounded-lg text-accent-900">
              <Ship />
            </span>
            <h3 class="text-xl md:text-2xl font-bold">Mi vida viajera</h3>
          </div>
          <div class="relative flex flex-col gap-1.5 font-medium text-tones-600 mb-3">
            <p>
              A veces escribo sobre mis experiencias, pensamientos y cosas que he aprendido. No soy escritor, pero intento compartir mis conocimientos con los demás.
            </p>
            <span class="absolute left-0 -ml-10 -mt-16 top-0 mb-0 hidden font-mono text-[12rem] text-tones-600 leading-none opacity-5 lg:flex">*</span>
          </div>
          <div class="relative flex flex-col gap-2 z-10 -mx-2 mb-2">
            {latestPosts.map((note: any) => <NoteItem entry={note} />)}
          </div>
          <div class="flex items-center flex-wrap gap-2.5">
            <a href="/notas/" class="ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 hover:text-accent-900 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Ver publicaciones
            </a>
            <a href={social.x} target="_blank" rel="noreferrer" class="ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 hover:text-accent-900 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Sígueme en X
            </a>
            <a href={social.linkedin} target="_blank" rel="noreferrer" class="ring-tones-100/50 bg-tones-100/50 text-tones-900 hover:bg-accent-100 hover:text-accent-900 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Sígueme en LinkedIn
            </a>
          </div>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>
