---
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';
import {motion} from 'framer-motion';
import { SUB_PAYMENT, social } from '@/lib/constants.ts';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import Ship from '@/components/svg/Ship.astro';
import { Mobile } from '@/components/svg/Mobile.tsx';
import { Terminal } from '@/components/svg/Terminal.tsx';
import ProfileAvatar from '@/assets/images/profile.jpg';
import SectionWork from '@/components/SectionWork.astro';
import NoteItem from '@/components/NoteItem.astro';

const publishedNotes = (await getCollection('notes', ({ data }: CollectionEntry<'notes'>) => data.draft !== true))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const publishedWork = (await getCollection('work', ({ data }: CollectionEntry<'work'>) => data.draft !== true))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const latestPosts = publishedNotes.slice(0, 5);
const latestWork = publishedWork.slice(0, 4);
---
<BaseLayout>
  <section class="border-b border-gray-200">
    <Container>
      <div class="pt-12 pb-16">
        <div class="flex flex-col items-start gap-8">
          <div class="relative flex items-start flex-col gap-3 md:w-[44rem]">
            <h1 class="sr-only">
              Construyo y diseño productos digitales, sitios web, apps y sistemas para la www.
            </h1>
            <motion.div
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20 }}
              className="text-[2.25rem] leading-tight md:text-[2.75rem] md:leading-[0.9] font-bold"
            >
              Construyo y diseño productos digitales, sitios web, <div class="inline-flex items-baseline">apps<span class="hidden md:block relative top-2.5 ml-2 text-lime-700 rounded-2xl bg-white shadow-xl px-1 py-1"><Mobile client:load className="w-10 h-10"/></span></div> y <div class="inline-flex items-baseline">sistemas<span class="hidden md:block relative top-2.5 ml-2 text-black rounded-2xl bg-white shadow-xl px-1 py-1"><Terminal client:load className="w-10 h-10" /></span></div> para <span class="before:animate-glitch relative before:left-[3px] before:absolute before:top-0 before:w-full before:h-full before:overflow-hidden before:[text-shadow:-2px_0_red] before:[content:'web']">la www</span>
            </motion.div>
            <motion.p
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.05 }}
              className="text-gray-600 md:text-lg font-medium"
            >
              Soy la persona que puede construir productos moviendome entre ingeniería y diseño con una gran atención al detalle. Actualmente trabajando en mi propio estudio de ingeniería desde México.
            </motion.p>
            <motion.span
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:0.05,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.1 }}
              className="absolute left-0 -ml-16 mt-9 top-0 mb-0 hidden font-mono text-[18rem] text-gray-600 leading-none opacity-5 lg:flex">*</motion.span>
          </div>
          <motion.div
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.15 }}
            className="flex flex-col md:flex-row md:items-center gap-5">
            <button
              data-cal-link="coderdiaz/intro"
              data-cal-namespace="intro"
              data-cal-config='{"layout":"month_view"}'
              class="relative px-4 py-3 rounded-2xl text-white bg-black shadow-lg shadow-[#F84F1A]/35 ring-2 ring-[#F84F1A]/20 hover:shadow-xl hover:shadow-[#F84F1A]/60 hover:ring-[#F84F1A]/30 font-semibold transition hover:scale-105 z-10">
              Agendar una llamada
            </button>
            <!-- <div class="text-sm text-gray-500 font-medium">Utiliza <span class="mx-0.5 px-1.5 py-1 border border-gray-300 rounded-lg">⌘K</span> para una mejor experiencia</div> -->
          </motion.div>
        </div>
      </div>
    </Container>
  </section>
  <SectionWork entry={latestWork[0]} />
  <SectionWork entry={latestWork[1]} />
  <section class="border-b border-gray-200">
    <Container class="px-0">
      <div class="pt-16 pb-20 flex gap-4">
        <div class="flex flex-col gap-6 px-10 flex-grow text-gray-900">
          <div class="relative flex flex-col gap-4">
            <motion.h3
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.3 }}
              className="text-3xl md:text-4xl font-bold">Tu producto necesita de la mejor experiencia.</motion.h3>
            <motion.p
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:1,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.35 }}
              className="text-lg md:text-xl font-medium text-gray-500 max-w-[40rem]">
              Llevemos tu idea de <span class="font-bold text-black">0 → 1</span> y hagámosla realidad. Puedo ayudarte con una variedad de servicios para que tu proyecto despegue y llegue a manos de tus usuarios.
            </motion.p>
            <motion.span
              client:load
              initial={{opacity:0,y:-20}}
              animate={{opacity:0.05,y:0}}
              transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.4 }}
              className="absolute left-0 -ml-10 -mt-6 top-0 mb-0 hidden font-mono text-[12rem] text-gray-600 leading-none opacity-5 lg:flex -z-10">*</motion.span>
          </div>
          <motion.div
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.45 }}
            className="flex items-center gap-3 flex-wrap z-10 mb-6">
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Front-end Development
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              CMS
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Back-end Development
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              APIs
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Web Design
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Landing Pages
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Corporate websites
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Interface Design
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Mobile Apps
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              E-commerce
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Design Systems
            </span>
            <span class="inline max-w-max px-3 py-1.5 bg-white/20 backdrop-blur-lg border border-gray-20 rounded-full font-semibold text-sm">
              Training
            </span>
          </motion.div>
          <motion.div
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.5 }}
            className="flex flex-col md:flex-row md:items-center gap-4">
            <a href={SUB_PAYMENT} target="_blank" rel="noreferrer" class="relative px-4 py-3 rounded-2xl text-white bg-black text-center md:text-left md:text-lg shadow-lg shadow-[#F84F1A]/35 ring-2 ring-[#F84F1A]/20 hover:shadow-xl hover:shadow-[#F84F1A]/60 hover:ring-[#F84F1A]/30 font-semibold transition hover:scale-105 z-10 md:w-max">
              Desde US$899/semana 
            </a>
            <a href="/manifesto/" class="px-4 py-3 md:w-max rounded-2xl text-black ring-2 ring-gray-100 font-semibold transition bg-gray-100 hover:bg-orange-200 hover:ring-orange-200 text-center md:text-left md:text-lg">
              Leer manifesto
            </a>
          </motion.div>
        </div>
      </div>
    </Container>
  </section>
  <SectionWork entry={latestWork[2]} />
  <SectionWork entry={latestWork[3]} />
  <section class="border-b border-gray-200">
    <Container class="px-0">
      <div class="py-16 flex flex-col-reverse md:flex-row gap-12  md:gap-4 items-center">
        <div class="flex flex-col gap-4 md:w-[60rem] px-10 flex-grow">
          <h3 class="text-2xl font-bold">Hola!, Soy Javier Diaz</h3>
          <div class="relative flex flex-col gap-1.5 font-medium text-gray-600">
            <p>
              Un freelancer mexicano que trabaja con varias startups, empresas, agencias y particulares para construir productos y servicios para la web.
            </p>
            <p>
              Me gusta colaborar con personas y equipos para crear experiencias y productos fantásticos que sean fáciles de usar.
            </p>
            <p>
              En mi tiempo libre, usualmente podrás encontrarme leyendo, viendo películas, jugando videojuegos o aprendiendo algo nuevo.
            </p>
            <span class="absolute left-0 -ml-10 mt-4 top-0 mb-0 hidden font-mono text-[12rem] text-gray-600 leading-none opacity-5 lg:flex">*</span>
          </div>
          <div class="flex flex-col md:flex-row md:items-center gap-2 md:gap-4">
            <a href="/contacto/" class="mt-2 px-4 py-2.5 text-center md:text-left md:w-max rounded-2xl text-white bg-black shadow-lg shadow-blue-900/60 ring-2 ring-blue-400/20 hover:shadow-xl hover:shadow-blue-700/50 hover:ring-blue-400/30 font-semibold transition hover:scale-105">
              Comenzar un proyecto
            </a>
            <a href="/servicios/" class="mt-2 px-4 py-2.5 text-center md:text-left md:w-max rounded-2xl text-black ring-2 ring-gray-100 font-semibold transition bg-gray-100 hover:bg-orange-200 hover:ring-orange-200">
              Descubre mis servicios
            </a>
          </div>
        </div>
        <div class="w-[16rem] md:w-[28rem] h-80 overflow-hidden shadow-xl bg-white p-3 pb-9 rotate-[4deg] border border-gray-100">
          <Image class="h-full w-full object-cover object-top pointer-events-none select-none" src={ProfileAvatar} alt="Avatar of Javier Diaz" />
        </div>
      </div>
    </Container>
  </section>
  <section class="border-b border-gray-200">
    <Container>
      <div class="py-8 md:py-6 flex flex-col md:flex-row md:items-center gap-4">
        <span class="font-semibold text-gray-1100">Conecta conmigo</span>
        <div class="flex items-center flex-wrap gap-2">
          <a href={social.x} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            X.com
          </a>
          <a href={social.github} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            GitHub
          </a>
          <a href={social.linkedin} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            LinkedIn
          </a>
          <a href={social.youtube} target="_blank" rel="noreferrer" class="px-4 py-2.5 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium">
            Youtube
          </a>
          <a href={social.dribbble} target="_blank" rel="noreferrer" class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            Dribbble
          </a>
          <a href={social.email} class="px-4 py-2 rounded-xl bg-gray-100 hover:bg-gray-200/70 text-sm text-gray-600 hover:text-gray-900 font-medium transition">
            Email
          </a>
        </div>
      </div>
    </Container>
  </section>
  <section>
    <Container class="px-0">
      <div class="pt-16 pb-20 flex gap-4">
        <div class="flex flex-col gap-4 w-[60rem] px-10 flex-grow">
          <div class="flex items-center gap-2">
            <span class="bg-orange-800 p-1 rounded-lg">
              <Ship />
            </span>
            <h3 class="text-xl md:text-2xl font-bold">Mi vida viajera</h3>
          </div>
          <div class="relative flex flex-col gap-1.5 font-medium text-gray-600 mb-3">
            <p>
              A veces escribo sobre mis experiencias, pensamientos y cosas que he aprendido. No soy escritor, pero intento compartir mis conocimientos con los demás.
            </p>
            <span class="absolute left-0 -ml-10 -mt-16 top-0 mb-0 hidden font-mono text-[12rem] text-gray-600 leading-none opacity-5 lg:flex">*</span>
          </div>
          <div class="relative flex flex-col gap-2 z-10 -mx-2 mb-2">
            {latestPosts.map((note) => <NoteItem entry={note} />)}
          </div>
          <div class="flex items-center flex-wrap gap-2.5">
            <a href="/notas/" class="bg-gray-100 text-gray-600 hover:text-gray-900 hover:bg-orange-200/75 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Ver publicaciones
            </a>
            <a href={social.x} target="_blank" rel="noreferrer" class="bg-gray-100 text-gray-600 hover:text-gray-900 hover:bg-orange-200/75 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Sígueme en X
            </a>
            <a href={social.linkedin} target="_blank" rel="noreferrer" class="bg-gray-100 text-gray-600 hover:text-gray-900 hover:bg-orange-200/75 px-2.5 py-1 leading-snug text-sm rounded-full font-semibold transition">
              Sígueme en LinkedIn
            </a>
          </div>
        </div>
      </div>
    </Container>
  </section>
</BaseLayout>