---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { getEntry, getCollection } from 'astro:content';
import { motion } from 'framer-motion';
import Container from '@/components/Container.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { SUB_PAYMENT } from '@/lib/constants';

// Clients
import W3G from '@/assets/images/clients/w3g.png';
import Codigofacilito from '@/assets/images/clients/codigofacilito.png';
import Expanish from '@/assets/images/clients/expanish.png';
import PandaSalud from '@/assets/images/clients/pandasalud.png';
import SectionWork from '@/components/SectionWork.astro';

const entry = await getEntry('pages', 'projects');
const publishedWork = (await getCollection('work', ({ data }: CollectionEntry<'work'>) => data.draft !== true))
  .sort((a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime());

const latestWork = publishedWork.slice(0, 2);
const most = publishedWork.slice(2);
---
<BaseLayout>
  <section
    class="border-b border-gray-200">
    <Container>
      <div class="flex flex-col gap-2 pt-12 pb-8">
        <motion.h1
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20 }}
          className="font-bold text-4xl">{entry.data.title}</motion.h1>
        <motion.p
          client:load
          initial={{opacity:0, y:-20}}
          animate={{opacity:1, y:0}}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.05 }}
          className="font-medium text-gray-600 text-lg">{entry.data.description}</motion.p>
      </div>
    </Container>
  </section>
  {latestWork.map((work) => (
    <SectionWork entry={work} showServices />
  ))}
  <motion.section
    client:load
    initial={{opacity:0, y:-20}}
    animate={{opacity:1, y:0}}
    transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.10 }}
    className="border-b border-gray-200">
    <Container class="md:px-0">
      <div class="pt-16 pb-20 flex gap-4">
        <div class="flex flex-col gap-6 md:px-10 flex-grow text-gray-900">
          <div class="relative flex flex-col gap-4">
            <h3 class="text-2xl md:text-3xl font-bold">¿Estás listo?</h3>
            <p class="md:text-lg font-medium text-gray-500 max-w-[40rem]">
              Tengo mucha experiencia en el campo del desarrollo y diseño web, y puedo ayudarte con cualquier proyecto, no importa lo grande o pequeño que sea. Estos son algunos de los clientes que confiaron.
            </p>
            <span class="absolute left-0 -ml-10 -mt-6 top-0 mb-0 hidden font-mono text-[12rem] text-gray-600 leading-none opacity-5 lg:flex -z-10">*</span>
          </div>
          <div class="flex items-center gap-5 flex-wrap z-10 mb-6">
            <div class="relative block">
              <Image class="w-24" src={W3G} alt="W3G" />
            </div>
            <div class="relative block">
              <Image class="w-40" src={Codigofacilito} alt="Códigofacilito" />
            </div>
            <div class="relative block">
              <Image class="w-28" src={Expanish} alt="Expanish" />
            </div>
            <div class="relative block">
              <Image class="w-28" src={PandaSalud} alt="PandaSalud" />
            </div>
          </div>
          <div class="flex flex-col md:flex-row md:items-center gap-5">
            <a href="/contacto/" class="relative px-6 py-3 rounded-full bg-accent-400 text-accent-1000 font-semibold transition hover:scale-105 z-10 md:w-max text-center">
              Desde US$899/semana
            </a>
            <a href="/manifesto/" class="px-6 py-3 md:w-max text-center rounded-full text-black ring-2 ring-tones-100/50 bg-tones-100/50 font-semibold transition hover:bg-accent-100 hover:ring-accent-100">
              Leer manifesto
            </a>
          </div>
        </div>
      </div>
    </Container>
  </motion.section>
  {most.map((work) => (
    <SectionWork entry={work} showServices />
  ))}
</BaseLayout>