---
import '@/styles/global.css';
import '@/assets/fonts/inter.css';
import '@fontsource-variable/caveat';
import {motion} from 'framer-motion';
import { Image } from 'astro:assets';
import { cn } from '@/lib/utils';
import Isotype from '@/components/svg/Isotype.astro';
import Container from '@/components/Container.astro';
import Mexico from '@/components/svg/Mexico.astro';
import { social } from '@/lib/constants';
import Head from '@/includes/Head.astro';
import Cursor from '@/components/Cursor';
import ProfileAvatar from '@/assets/images/profile.jpg';

interface Props {
  seo?: any;
}

const currentPath = Astro.url.pathname;
const { seo } = Astro.props;
---
<html lang="es" class="min-h-full antialiased tracking-[-0.005em] selection:bg-accent-300 selection:text-accent-1000 text-[#100F0F]">
  <Head seo={seo}>
    <script defer is:inline>
      (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement('script')).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === 'string' ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, 'https://app.cal.com/embed/embed.js', 'init');
      Cal('init', 'intro', {origin:'https://cal.com'});
      Cal.ns['intro']('ui', {'styles':{'branding':{'brandColor':'#FBBF25'}},'hideEventTypeDetails':false,'layout':'month_view'});
    </script>
  </Head>
  <body class="font-sans leading-relaxed h-full flex flex-col">
    <section class="border-b border-gray-200">
      <Container>
        <a href="https://aprendestrapi.com" target="_blank" rel="noreferrer" class="py-3 flex flex-col md:flex-row md:items-center md:justify-between text-sm font-medium">
          <p class="font-semibold">Presentando AprendeStrapi.com</p>
          <p>Únete al curso ahora <span aria-hidden="true">→</span></p>
        </a>
      </Container>
    </section>
    <header>
      <Container>
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 md:gap-3 pt-8">
          <a href="/" class="flex items-center gap-2">
            <Isotype />
            <span class="font-semibold">Coderdiaz Studio</span>
          </a>
          <nav class="flex items-center gap-4 gap-y-1 flex-wrap">
            <a class={cn("relative md:text-sm font-medium text-tones-800 hover:text-black transition-all after:content-[''] after:bg-accent-400 after:h-[3px] after:w-0 after:left-0 after:-bottom-1 after:absolute after:duration-300 after:hover:w-full", {
              "after:content-[''] after:bg-accent-400 after:h-[3px] after:w-full after:left-0 after:-bottom-1 after:absolute text-black": currentPath === '/proyectos/'
            })} href="/proyectos/">Proyectos</a>
            <a class={cn("relative md:text-sm font-medium text-tones-800 hover:text-black transition-all after:content-[''] after:bg-accent-400 after:h-[3px] after:w-0 after:left-0 after:-bottom-1 after:absolute after:duration-300 after:hover:w-full", {
              "after:content-[''] after:bg-accent-400 after:h-[3px] after:w-full after:left-0 after:-bottom-1 after:absolute text-black": currentPath === '/servicios/'
            })} href="/servicios/">Servicios</a>
            <a class={cn("relative md:text-sm font-medium text-tones-800 hover:text-black transition-all after:content-[''] after:bg-accent-400 after:h-[3px] after:w-0 after:left-0 after:-bottom-1 after:absolute after:duration-300 after:hover:w-full", {
              "after:content-[''] after:bg-accent-400 after:h-[3px] after:w-full after:left-0 after:-bottom-1 after:absolute text-black": currentPath === '/notas/'
            })} href="/notas/">Notas</a>
            <a class={cn("relative md:text-sm font-medium text-tones-800 hover:text-black transition-all after:content-[''] after:bg-accent-400 after:h-[3px] after:w-0 after:left-0 after:-bottom-1 after:absolute after:duration-300 after:hover:w-full", {
              "after:content-[''] after:bg-accent-400 after:h-[3px] after:w-full after:left-0 after:-bottom-1 after:absolute text-black": currentPath === '/contacto/'
            })} href="/contacto/">Contacto</a>
          </nav>
        </div>
      </Container>
    </header>
    <main class="h-full flex-grow">
      <slot />
    </main>
    <motion.footer
      client:load
      initial={{opacity:0, y:-20}}
      animate={{opacity:1, y:0}}
      transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.2 }}
    >
      <Container>
        <div class="flex flex-col gap-8 pt-16 pb-28">
          <p class="font-medium text-gray-500 flex items-center gap-2 text-sm">
            Lanzando productos desde Mexico
            <Mexico />
          </p>
          <div class="flex flex-col gap-4">
            <div class="flex items-center gap-5 gap-y-4 flex-wrap">
              <!-- <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="#">Sobre mí</a> -->
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/contacto/">Contacto</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/servicios/">Servicios</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/notas/">Notas</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/manifesto/">Manifesto</a>
            </div>
            <div class="flex items-center gap-5 gap-y-4 flex-wrap">
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.x} target="_blank" rel="noreferrer">X.com</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.github} target="_blank" rel="noreferrer">GitHub</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.linkedin} target="_blank" rel="noreferrer">LinkedIn</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.dribbble} target="_blank" rel="noreferrer">Dribbble</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.cv} target="_blank" rel="noreferrer">Read.cv</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.layers} target="_blank" rel="noreferrer">Layers</a>
            </div>
            <span class="font-medium text-sm text-gray-400 mt-6">Ciudad de México, México (UTC-6)</span>
          </div>
          <p class="text-sm text-gray-400">Desde &copy; 2015.</p>
        </div>
      </Container>
    </motion.footer>
    <div class="fixed inset-0 z-40 w-full h-screen pointer-events-none mix-blend-overlay bg-[url(/spread.svg)] [background-size:4px_4px] bg-repeat opacity-30" style="opacity: 0.15;"></div>
    <Cursor client:load />
    { currentPath !== '/aprende-react/' && (
        <motion.div
          client:idle
          initial={{ opacity: 0, y: 100}}
          animate={{ opacity: 1, y: 0 }}
          transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 1 }}
          className="fixed z-50 bottom-0 right-0 md:mb-6 md:mr-6 w-full md:w-max px-3 md:px-0 pb-4 md:pb-0">
          <button
            data-cal-link="coderdiaz/intro"
            data-cal-namespace="intro"
            data-cal-config='{"layout":"month_view"}'
            aria-label="Agendar una llamada con Javier Diaz"
            class="relative px-1.5 pr-6 py-1.5 bg-accent-400 text-accent-1000 font-semibold transition hover:scale-105 z-10 w-full md:w-auto flex gap-3 items-center rounded-full border-2 border-black">
            <Image class="w-12 h-12 flex-shrink-0 rounded-full object-cover object-top" src={ProfileAvatar} alt="Avatar de Javier Diaz" />
            <div class="flex flex-col items-start gap-1 w-full">
              <span class="leading-none inline-flex">Agendar una llamada</span>
              <span class="text-center leading-none text-sm text-accent-800 inline-flex">de introducción</span>
            </div>
          </button>
        </motion.div>
      )}
  </body>
</html>