---
import '@fontsource-variable/caveat';
import {motion} from 'framer-motion';
import Container from '@/components/Container.astro';
import Mexico from '@/components/svg/Mexico.astro';
import { social } from '@/lib/constants';
import Head from '@/includes/Head.astro';
---
<html lang="en" class="min-h-full antialiased bg-tones-50/50 selection:bg-accent-300 selection:text-accent-900">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Head>
      <script defer is:inline>
        (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement('script')).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; typeof namespace === 'string' ? (cal.ns[namespace] = api) && p(api, ar) : p(cal, ar); return; } p(cal, ar); }; })(window, 'https://app.cal.com/embed/embed.js', 'init');
        Cal('init', 'intro', {origin:'https://cal.com'});
        Cal.ns['intro']('ui', {'styles':{'branding':{'brandColor':'#FBBF25'}},'hideEventTypeDetails':false,'layout':'month_view'});
      </script>
    </Head>
    <title>Astro</title>
  </head>
  <body class="font-sans leading-relaxed h-full flex flex-col text-[#39301B]">
    <section class="border-b border-gray-200">
      <Container>
        <a href="https://aprendestrapi.com" target="_blank" rel="noreferrer" class="py-3 flex flex-col md:flex-row md:items-center md:justify-between text-sm font-medium">
          <p class="font-semibold">Presentando AprendeStrapi.com</p>
          <p>Únete al curso ahora <span aria-hidden="true">→</span></p>
        </a>
      </Container>
    </section>
    <header>
      <Container>
        <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 md:gap-3 pt-8">
          <a href="/" class="font-semibold">Javier Diaz — Ingeniería & Diseño</a>
          <nav class="flex items-center gap-4 gap-y-1 flex-wrap">
            <a class="md:text-sm font-medium text-tones-600 hover:text-tones-900" href="/proyectos/">Proyectos</a>
            <a class="md:text-sm font-medium text-tones-600 hover:text-tones-900" href="/servicios/">Servicios</a>
            <a class="md:text-sm font-medium text-tones-600 hover:text-tones-900" href="/notas/">Notas</a>
            <a class="md:text-sm font-medium text-tones-600 hover:text-tones-900" href="/contacto/">Contacto</a>
          </nav>
        </div>
      </Container>
    </header>
    <main class="h-full flex-grow">
      <slot />
    </main>
    <motion.footer
      client:load
      initial={{opacity:0, y:-20}}
      animate={{opacity:1, y:0}}
      transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.2 }}
    >
      <Container>
        <div class="flex flex-col gap-8 pt-16 pb-20">
          <p class="font-medium text-gray-500 flex items-center gap-2 text-sm">
            Lanzando productos desde Mexico
            <Mexico />
          </p>
          <div class="flex flex-col gap-4">
            <div class="flex items-center gap-5 gap-y-4 flex-wrap">
              <!-- <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="#">Sobre mí</a> -->
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/contacto/">Contacto</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/servicios/">Servicios</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/notas/">Notas</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href="/manifesto/">Manifesto</a>
            </div>
            <div class="flex items-center gap-5 gap-y-4 flex-wrap">
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.x} target="_blank" rel="noreferrer">X.com</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.github} target="_blank" rel="noreferrer">GitHub</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.linkedin} target="_blank" rel="noreferrer">LinkedIn</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.dribbble} target="_blank" rel="noreferrer">Dribbble</a>
              <a class="font-medium text-gray-500 hover:text-gray-900 text-sm" href={social.cv} target="_blank" rel="noreferrer">Read.cv</a>
            </div>
            <span class="font-medium text-sm text-gray-400 mt-6">Ciudad de México, México (UTC-6)</span>
          </div>
          <p class="text-sm text-gray-400">Desde &copy; 2015.</p>
        </div>
      </Container>
    </motion.footer>
    <div class="fixed inset-0 z-40 w-full h-screen pointer-events-none mix-blend-overlay bg-[url(/spread.svg)] [background-size:4px_4px] bg-repeat opacity-30" style="opacity: 0.15;"></div>
  </body>
</html>