---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import { ArrowUpRightIcon } from 'lucide-react';
import { motion } from 'framer-motion';
import BaseLayout from './BaseLayout.astro';
import Container from '@/components/Container.astro';

interface Props {
  entry: CollectionEntry<'work'>;
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<BaseLayout seo={entry.data.seo}>
  <article class="flex flex-col">
    <section class="border-b border-tones-100 overflow-hidden">
      <Container>
        <div class="pt-16 flex flex-col items-center gap-2 md:mx-16">
          <motion.span
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20 }}
            className="font-medium text-gray-600 md:text-lg">
            {entry.data.tag}
          </motion.span>
          <motion.h1
            client:load
            initial={{opacity:0,y:-20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.05 }}
            className="text-[2rem] md:text-[2.25rem] text-center leading-[1.2] tracking-tight font-bold mb-2">
            {entry.data.title}
          </motion.h1>
        </div>
        { entry.data.featuredImage && (
          <motion.div
            client:load
            initial={{opacity:0,y:20}}
            animate={{opacity:1,y:0}}
            transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.1 }}
            className="-mx-4 md:-mx-8 lg:-mx-16"
          >
            <Image
              class="w-full pointer-events-none select-none group-hover:scale-[1.03] transition-transform duration-300 ease-in-out"
              src={entry.data.featuredImage as ImageMetadata}
              alt={entry.data.tag} />
          </motion.div>
        )}
      </Container>
    </section>
    <motion.section
      client:load
      initial={{opacity:0,y:-20}}
      animate={{opacity:1,y:0}}
      transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.15 }}
    >
      <Container>
        { entry.data.live && (
          <div class="flex items-center justify-center pt-6 -mt-[4rem]">
            <div class="p-2 bg-white/90 border border-tones-100 w-full md:w-[20rem] rounded-full backdrop-blur-lg">
              <a class="flex items-center justify-center gap-3 px-6 py-3.5 rounded-full bg-accent-500 text-tones-1500 font-semibold border border-accent-800 w-full text-center" href={entry.data.live} target="_blank" rel="noreferrer">
                <span>Ver en vivo</span>
                <ArrowUpRightIcon className="w-5 h-5" />
              </a>
            </div>
          </div>
        )}
        <p class="md:text-lg text-gray-600 font-medium py-10">{entry.data.description}</p>
        <div class="flex items-start gap-14 md:gap-20 mb-8 md:mb-12">
          <div class="flex flex-col gap-1">
            <span class="border-l-2 border-accent-500 pl-6 font-semibold text-tones-700">Año</span>
            <p class="pl-6">{entry.data.year}</p>
          </div>
          <div class="flex flex-col gap-1">
            <span class="border-l-2 border-accent-500 pl-6 font-semibold text-tones-700">Servicios</span>
            <p class="pl-6">{entry.data.services.join(', ')}</p>
          </div>
        </div>
      </Container>
    </motion.section>
    <motion.section
      client:load
      initial={{opacity:0,y:-20}}
      animate={{opacity:1,y:0}}
      transition={{ type: 'spring', stiffness: 250, damping: 20, delay: 0.15 }}
    >
      <Container>
        <div class="max-w-full prose md:prose-lg font-medium py-px">
          <Content />
        </div>
      </Container>
    </motion.section>
  </article>
</BaseLayout>